{% extends 'base.html' %}

{% block title %}Pradžia{% endblock %}

{% block content %}

{% for post in posts %}
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Paskelbta {{ post.date | date:"Y-m-d H:i" }}, autorius {{ post.author }}</div>
    </header>
    <!-- Preview image figure-->
<!--    <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>-->
    <!-- Post content-->
    <section class="mb-5">
        <p class="fs-5 mb-4">{{ post.content | truncatewords:30 }}
            <br>
            <a href="{% url 'post' post.pk %}">
                Skaityti daugiau
            </a>
        </p>
        <p>Komentarų: {{ post.comments.count }}</p>
    </section>
</article>

{% endfor %}


{% if is_paginated %}
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Previous</span>
    </li>
    {% endif %}

    {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active">
        <span class="page-link">{{ num }}</span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Next</span>
    </li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}